@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
  --background-clr: #282c34;
  --dark-clr: #1b1d23;
  --white-text: #f2f2f2;
  --light-text: #adb4c0;
  --salmon-clr: #d76460;
  --link-clr: #809fff;
  --grey-clr: #5d5f66;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    width: 100%;
    color: var(--white-text);
    background: var(--background-clr);
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

body a {
    color: var(--link-clr);
}

h1 {
    margin: 0;
    padding: 1em 0em;
}

main {
    padding: 1rem;
    margin: auto;
    overflow: auto;
    padding-bottom: 5em;
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 2.5rem;
}

.link {
    color:  #809fff;
}

.PCheader {
    color: white;
    text-decoration: none;
    background-color: var(--dark-clr);
    text-align: center;
    padding: 15px 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.pic {
    width: 100%;
    cursor: pointer;
}

.descriptive {
    background-color: var(--dark-clr);
    text-align: center;
    margin: 15px 0px;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 8px;
}

.about {
    background-color: var(--dark-clr);
    padding: 15px 15px;
    font-family: 'Open Sans', sans-serif;
}

.left {
    text-align: left;
    line-height: 1.3;
    font-size: 18px;
    padding: 0px 20px;
}

.header2 {
    font-size: 24px;
    text-align: center;
}

.wow {
    font-weight: bold;
    text-decoration: underline;
}

.big {
    text-align: center;
    line-height: 1.3;
    font-size: 24px;
    padding: 0px 20px;
}

.footer-box {
    clear: both;
    height: 4em;
    background: var(--dark-clr);
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: -5em 0em 0em 0em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.ftr {
    text-decoration: none;
    color: var(--light-text);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}

.row {
    display: flex;
}

.column {
    flex: 1 1 0;
    padding: 5px;
}

.constrained {
    width: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.topnav {
    background-color: var(--dark-clr);
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color:var(--salmon-clr);
    color: black;
}

hr {
    height: 1px;
    background-color: var(--grey-clr);
    border: none;
}

.wrapper {
    min-height: 100%;
    margin-bottom: 75px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
    padding: 0.5rem;
}

.card__content {
    padding-bottom: 4em;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.card__image img {
    width: 100%;
    display: block;
}

.card__image:hover {
    color: #282C34;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari and Chrome */
}

.card__actions {
    padding: 1rem;
    text-align: center;
    margin: -4em 0em 0em 0em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background: var(--dark-clr);
    position: relative;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product-img {
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
    display: block;
}
  
.zoomable {
    overflow: hidden;
}

@media (min-width: 1260px) {
    body {
        width: 1200px;
    }
}